{% extends 'personbase/base.html' %}

{% block title %}List of persons{% endblock %}

{% block content %}

    <h1>Persons</h1>
    <ul>
    {% for person in object_list %}
        <li><a href="{% url 'personbase:detail' pk=person.pk %}">{{ person.first_name }}</a> {{ person.last_name }}
            {{ person.email }}</li>
    {% empty %}
        <li>No persons.</li>
    {% endfor %}
    </ul>

    <div class="pagination">
        {% if is_paginated %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        {% endif %}
    </div>

    <div class="creation person">
        <p style="display: inline-block">Add new person:</p>
        <form action="{% url 'personbase:create' %}" style="display: inline-block">
            {% csrf_token %}
            <input type="submit" value="Create">
        </form>
    </div>

{% endblock %}